@model Presentation
@{
    ViewData["Title"] = "Detail";
}

<h1>Details</h1>

ID: @Model.id <br />
<h2>Author: @Model.bookAuthor: Title: @Model.bookTitle</h2>
<h4>Genre: @Model.genre</h4>
Presentation on Date: @Model.presentationDate