@model Presentation
@{
    ViewData["Title"] = "Detail";
}

<h1>Details</h1>

ID: @Model.id <br />
<h2>@Model.bookAuthor: @Model.bookTitle</h2>
@Model.genre Presentation on Date: @Model.presentationDate