@model Presentation;
@{
    ViewData["Title"] = "EditForm";
}

<h1>Edit Presentation</h1>

<form method="post" action="/presentation/savechanges">
    <input type="hidden" name="id" value="@Model.id"/>

    Presentor(PersonID):
    <select name="personid" required>
        @foreach (Person per in (List<Person>)ViewData["people"]){
            <option selected="@(per.id == Model.id ? "selected" : null)" value="@per.id">@per.firstname @per.lastname</option>
            }
    </select>

    <br />

    Presentation Date: <input type="date" name="presentationdate" value="@Model.presentationDate"/> <br />
    Book Title: <input type="text" name="booktitle" value="@Model.bookTitle"/> <br />
    Book Author: <input type="text" name="bookauthor" value="@Model.bookAuthor"/> <br />
    Book Genre: <input type="text" name="genre" value="@Model.genre"/> <br />
    <input type="submit" value="Save"/>
</form>