@model Person;
@{
    ViewData["Title"] = "EditForm";
}

<h1>Edit Person</h1>

<form method="post" action="/person/savechanges">
    <input type="hidden" name="id" value="@Model.id" />

    First Name: <input placeholder="@ViewBag.firstname" type="text" name="firstname" value="@Model.firstname" />
    <span style="font-weight:bold; color:red">@ViewBag.firstnameMessage</span>
    <br />

    Last Name: <input placeholder="@ViewBag.lastname" type="text" name="lastname" value="@Model.lastname" />
    <span style="font-weight:bold; color:red">@ViewBag.lastnameMessage</span>
    <br />
    
    Email: <input placeholder="@ViewBag.email" type="email" name="email" value="@Model.email" />
    <span style="font-weight:bold; color:red">@ViewBag.emailMessage</span>
    <br />
    
    <input type="submit" value="Save" />
</form>




@*ADD THE SPAN STUFF FOR ERRORS *@